---
import Layout from '@/layouts/Layout.astro';
import Welcome from '@/components/Welcome.astro';
import Description from "../components/Description.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import DownArrowIcon from "../components/icons/DownArrowIcon.astro";
---

<Layout title="Jose Duarte - Desarrollador y Programador Web apasionado por la tecnología"
description="Desarrollador Web dedicado al desarrollo de soluciones web únicas y sus usos en la vida diaria.">
    <main>
        <Welcome/>
        <Description/>
        <Projects/>
        <Experience/>
        <AboutMe />
    </main>
</Layout>
