---
import Layout from '@/layouts/Layout.astro';
import Welcome from '@/components/Welcome.astro';
import Description from "../components/Description.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Jose Duarte - Desarrollador y Programador Web apasionado por la tecnología"
description="Soy un Desarrollador Web apasionado por la tecnología y sus usos en la vida diaria de las personas implementando diversas plataformas, tecnologías y codigo.">
    <main>
        <Welcome />
        <Description />
        <Projects />
    </main>
</Layout>
