---
const personalImageAlt = "Jose Duarte"
import SectionContainer from "./SectionContainer.astro"
import Subtitle from "./Subtitle.astro"
---
<SectionContainer>
    <Subtitle ClassList="mb-12">Un poco de mi</Subtitle>
    <article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
        <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
            <p>
                Me llamo Jose Duarte pero mis amigos me llaman saert. He abrazado el mundo de la informatica desde muy corta edad, soy de <strong
            >Venezuela</strong> sin embargo me encuentro buscando nuevos caminos en <strong>España</strong>.
            </p>

            <p>
                Algunos de mis éxitos incluyen <strong
            >colaborar en el desarrollo de una plataforma de movilidad urbana para logistica y administracion</strong
            >. Aunque hoy está desaparecido fue una interesante experiencia en el como la movilidad puede afectar las vidas de muchas personas
            </p>

            <p>
                Mi curiosidad me ha llevado a ver mas alla del mundo de la programacion, <strong
            >me a llevado a incursionar hasta AWS o Oracle</strong>.</p>
        </div>

        <img width="200" height="200" src="/assets/bw_photo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

    </article>
</SectionContainer>
