---
import Dots from "@/components/icons/Dots.astro"
interface Props {
    ShowDots?: boolean
}
const { ShowDots } = Astro.props
---
<div class="relative group rounded px-8 py-12 hover:bg-primary border shadow bg-gray-800 border-gray-700 hover:scale-105 hover:bg-white/10 transition">
    <slot />
    <div class="absolute bottom-1 left-1">
        {ShowDots && (<Dots />) }
    </div>
</div>