---
import SectionContainer from "./SectionContainer.astro"
import ServiceCard from "./ServiceCard.astro"
import ListElement from "./ListElement.astro"
import FrontTools from "./FrontTools.astro";
import BackTools from "./BackTools.astro"
import ToolsTools from "./ToolsTools.astro"
import Subtitle from "./Subtitle.astro"
const ITEMS = [
    {
        name: "Por",
        description: "Comenzar un negocio o marca personal es un dolor de cabeza, ahora imaginate gestionar tu presencia o recursos digitales cuando apenas inicias. Lo peor de todo es que si quieres crecer debes tener esa asignatura al dia."
    },
    {
        name: "Para",
        description: "Peque침os, medianos empresarios, y tambien individuales que quieran abrirse en el mas competitivo mercado, el dominio de los recursos digitales es imperativo para que cualquiera pueda existir en el mundo digital."
    },
    {
        name: "Como",
        description: "Dedicacion casi artesanal a los procesos, la peque침a y mediana empresa tiene la ventaja de tener un control mucho mas cercano de sus procesos asi como de las implementaciones que decidan realizar."
    }
]
---
<SectionContainer>
    <div class="container py-16 md:py-20" id="services">
        <Subtitle>
            En esto soy bueno
        </Subtitle>
        <h3
                class="pt-6 text-center font-header text-xl font-medium lg:text-2xl"
        >
            Estos son los servicios que ofrezco
        </h3>

        <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12">
            <ServiceCard>
                <img
                        src="/assets/img/icon-development-white.svg"
                        alt="development icon"
                        slot="image"
                />
                DESARROLLO WEB
                <Fragment slot="subtitle">Si no estas en internet no existes, asi de simple, grita aqui estoy de la mejor manera posible</Fragment>
            </ServiceCard>
            <ServiceCard>
                <img
                        src="/assets/img/icon-graphics-white.svg"
                        alt="Cloud icon"
                        slot="image"
                />
                SOPORTE Y MANTENIMIENTO
                <Fragment slot="subtitle">PC, Mac, Redes, Servidores, Cloud, Windows, Linux, CCTV, todas esas palabras extra침as requieren atenci칩n.</Fragment>
            </ServiceCard>
        </div>
    </div>

    <ol class="items-center sm:flex">
        {ITEMS.map((item, i) => (
                <ListElement key={i}>
                    <Fragment slot="number">{i+1}</Fragment>
                    {item.name}
                    <Fragment slot="description">{item.description}</Fragment>
                </ListElement>
        ))}
    </ol>
    <h4 class="pt-8 text-center font-header text-xl font-medium lg:text-2xl">
        Y uso estas herramientas
    </h4>
    <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:grid-cols-3 md:gap-10 md:pt-12">
    <FrontTools /><BackTools /><ToolsTools />
    </div>
</SectionContainer>