---
import SectionContainer from "./SectionContainer.astro"
import Subtitle from "./Subtitle.astro"
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCES = [
    {
        title: "Flowbite Application UI v2.0.0",
        date: "January 13th, 2022",
        description: "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
    },
    {
        title: "Flowbite Figma v1.3.0",
        date: "December 7th, 2021",
        description: "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project."
    },
    {
        title: "Flowbite Library v1.2.2",
        date: "December 2nd, 2021",
        description: "Get started with dozens of web components and interactive elements built on top of Tailwind CSS."
    }
]
---
<SectionContainer>
    <Subtitle ClassList="mb-6">
        Con ellos he trabajado
    </Subtitle>
    <div>
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
            {EXPERIENCES.map((item, index) => (
                <ExperienceItem key={index} {...item} />
            ))}
        </ol>
    </div>
</SectionContainer>