---
---
<header class="flex justify-between items-center py-3 w-[1120px]">
    <img src="/avatar_web.webp"
         class="rounded-full w-12 h-12"
         alt="Avatar saert" />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projets">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>