---
interface Props {
    ClassList ?: string;
}
const {ClassList, ...rest} = Astro.props
---
<section class:list={["w-full", "lg:w-[900px]", "px-3", "mx-auto", "lg:px-0",  ClassList]} {...rest}>
    <slot />
</section>