---
import Card from "@/components/Card.astro"
---
<Card ShowDots={true} >
    <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div>
            <slot name="image" />
        </div>
    </div>
    <div class="text-center">
        <h3
                class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl"
        >
            <slot />
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
            <slot name="subtitle" />
        </p>
    </div>
</Card>