---
const { ClassList} = Astro.props

interface Props {
    ClassList?: string
}
---
<h2 class:list={["font-header", "text-3xl", "font-semibold", "text-primary", "sm:text-4xl", ClassList]}>
    <slot />
</h2>
