---
import Badge from '@/components/Badge.astro';
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import IconMail from "../components/icons/IconMail.astro";
import SectionContainer from '@/components/SectionContainer.astro';
---
<SectionContainer>
	<img src="/avatar_web.webp"
		 class="rounded-full size-20 mb-2"
		 alt="Avatar saert" />
	<div class="flex flex-row gap-x-4 pb-4">
		<h1 class="text-white text-5xl font-bold ">
			Hola, soy Jose Duarte (saert)
		</h1>
		<div class="flex justify-center items-center self-end">
			<a href="https://www.linkedin.com/in/saert3311" target="_blank" rel="noopener"><Badge>Disponible para trabajar</Badge></a>
		</div>
	</div>
	<h2 class="text-xl opacity-80 mb-4">
		Soy un <span class="text-yellow-200/90">Desarrollador Web</span>  apasionado por la tecnología y sus usos en la vida diaria de las personas implementando diversas plataformas, tecnologías y codigo.
	</h2>
	<nav class="flex gap-x-4">
		<SocialPill href="https://www.linkedin.com/in/saert3311">
			<LinkedInIcon />
			Linkedin
		</SocialPill>
		<SocialPill href="https://www.linkedin.com/in/saert3311">
			<GithubIcon />
			Github
		</SocialPill>
		<SocialPill href="mailto:jose.duarte@trinum.xyz">
			<IconMail />
			jose.duarte@trinum.xyz
		</SocialPill>
	</nav>
</SectionContainer>
