---
const {title, generator, description} = Astro.props
import Header from "@/components/Header.astro"
import '@fontsource-variable/onest';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ generator } />
		<title>{title}</title>
		<meta name="description" content={ description } />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Jose Duarte" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body>
	<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
	</div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html{
		scroll-behavior: smooth;
		font-family: 'Onest Variable', system-ui, sans-serif;
	}

	body {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #050505;
		min-height: 100vh;
	}
</style>